:root {
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --background-color: #1d1f21;
    --text-color: #fff;
    --primary-color: #cc6666;
    --secondary-color: #f0c674;
    --tertiary-color: #191a1c; 

    background-color: var(--background-color);
}

body {
    margin: 0;
    display: flex;
    justify-items: center;
    min-width: 320px;
    min-height: 100vh;
}

p {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    color: var(--text-color);
}
