@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --background-color: #1d1f21;
    --text-color: #fff;
    --primary-color: #cc6666;
    --secondary-color: #f0c674;
    --tertiary-color: #191a1c; 

    background-color: var(--background-color);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    display: flex;
    justify-content: center;

    font-family: "Fira Code", monospace;
    color: var(--text-color);
}
